/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Archivo', sans-serif;
}
.btn-primary {
  color: #fff;
  background-color: blue;
  border-color: blue;
}

#home-title-box {
  min-height: 100vh;
}

#home-title-box .p-2{
    display: none;
}

.navbar {
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  z-index: 99;
  background: black !important;
  text-transform: lowercase;
}

footer{
    display: none;
}
#maincontent{
    padding-bottom: 6rem;
}

.navbar-nav li:first-child{
    font-weight: bolder;
}

.table > tbody {
  font-size: .8rem;
  line-height: 1rem;
}

.dt-buttons{
  margin: 1rem 0 2rem 0;
}
#item-table{
  padding: 2rem 0;
}
h2#item-title{
  margin-bottom: 2rem !important;
}
.title{
  display: none !important;
}
.about-nav{
  width: 100% !important;
  margin: 0;
  display: block;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 2rem !important;
}
#about-contents h2#about-the-collection{
  border-top: 0;
  margin: 2rem 0 !important;
}

#about-contents p{
  margin: 0 0 1rem 0 !important;
}
.breadcrumb{
  display: none;
}
#scroll-to-top{
  bottom: 75px;
}
.page-item.active .page-link, .btn-link{
  color: blue !important;
}
.page-link{
  color: white;
}
.marker-cluster-small div {
  background-color: rgba(255, 255, 255, 0.88) !important;
}
.marker-cluster-small {
  background-color: rgba(255, 255, 255, 0.34) !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
}
.leaflet-popup-content p{
  line-height: 1.3rem;
}
.btn-secondary, .btn-outline-primary:hover {
  color: #fff !important;
  background-color: blue !important;
  border-color: blue !important;
}

.btn-outline-primary {
  color: blue !important;
  border-color: blue !important;
}

.page-item.active .page-link, .btn-link {
  color: blue;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: blue;
  border-color: #0d6efd;
  color: white !important;
}

.btn-light, .btn-light:hover, .btn-light:focus {
  color: #000;
  background-color: blue;
  border-color: #f8f9fa;
  color: white !important;
}

.img-thumb{
  min-width: 100%;
  height: auto;
}

.marker-cluster span {
  font-weight: 600;
}