/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Archivo', sans-serif;
}
.btn-primary {
  color: #fff;
  background-color: #2b3441;
  border-color: #2b3441;
}

#home-title-box {
  min-height: 100vh;
}

#home-title-box .p-2{
    display: none;
}

.navbar {
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  z-index: 99;
  background: black !important;
}

footer .border-bottom{
    display: none;
}